# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
alliances/__pycache__/
Demo/__pycache__/

# images
Results/Aggregate/images/
Results/Activity/images/
Results/Community_over_time/images/
Results/Community_density_reciprocity/Messages/images/
Results/Community_density_reciprocity/Trades/images/
Results/Community_density_reciprocity/images/
Results/Most_relevant_community_analysis/images/
Results/Community_draw/
Demo/*.png

# report
*.log
*.aux
*.gz
*.toc
*.out
*.bbl
*.bib
*.run.xml
Report/header.pdf
